<table class="table">
    <thead>
      
    </thead>
    <tbody>
      <tr>
        <th scope="row">Bot Token</th>
        <td>{{bot_token}}</td>
       
      </tr>
      <tr>
        <th scope="row">Authorized Users</th>
        {% for user in authorized_users %}
        <td>@{{user}}</td>
        {% endfor %}
      </tr>
      <tr>
        <th scope="row">Absolute Path</th>
        <td colspan="3">{{logseq_abs_path}}</td>
      </tr>
      <tr>
        <th scope="row">Polling</th>
        <td>{{polling_interval}}</td>
      </tr>
    </tbody>
  </table>