<form action="/" method="POST">

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Bot Token</span>
        <input type="text" name="bot_token" class="form-control" aria-label="bot token" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" name="authorized_users" class="form-control" placeholder="Authorized users (separated by comma : user1,user2)" aria-label="Username" aria-describedby="basic-addon1">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Logseq absolute path</span>
        <input type="text" name="logseq_abs_path" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="/Users/sardoche/Documents/logseq/graph1">
    </div>

    <br>
    <input type="submit" class="btn btn-primary" value="Apply →">
    
</form>
